<launch>
    <arg name="config_path" default = "$(find cppt_vio)/../../config/calib/sim.yaml" />
    <arg name="rviz_config_path" default = "-d $(find cppt_vio)/../../config/rviz_vio_config.rviz" />
    <arg name="pl_system" default="false"/>

    <node name="cppt_vio" pkg="cppt_vio" type="cppt_vio" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="pl_system" type="bool" value="$(arg pl_system)" />
        <remap from="/camera/left/image_raw" to="/stereo_camera/left/image_raw" />
        <remap from="/camera/right/image_raw" to="/stereo_camera/right/image_raw" />
        <remap from="/imu/data_raw" to="/raw_imu" />
    </node>

    <node name="global_opt_node" pkg="global_opt" type="global_opt_node" output="screen"/>
<!--    <node name="global_fusion_node" pkg="global_fusion" type="global_fusion_node" output="screen"/>-->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="$(arg rviz_config_path)" />
</launch>
